.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.star-rating span {
  color: #ccc;
  cursor: pointer;
  margin: 0 5px;
}

.star-rating span.selected {
  color: gold;
}
