:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100px;
}

.register-card {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;

  mat-card-header {
    text-align: center;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-title {
    padding-bottom: 15px;
  }

  button {
    width: 100%;
    margin-top: 20px;
  }
}

.old-user-card {
  max-width: 400px;
  width: 100%;

  mat-card-header {
    text-align: center;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-title {
    padding-bottom: 15px;
  }

  button {
    width: 100%;
  }
}
